:root {
    --primary: #1a4435;
    --secondary: #b0c9c1;
    --accent: #4a8c5e;
    --text: #212120;
    --background: #f5f6f5;
    --grey: #cecbce;
}

body {
    font-weight: 400;
    margin: 0;
    background: var(--grey);
    overflow: hidden;
}

header {
    background: var(--primary);
    color: var(--background);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

#search {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    height: calc(100vh - 70px);
}
nav#sidebar {
    background: var(--secondary);
}

/* Seitenleisten (sticky) */
nav#sidebar,
aside#toc {
    padding: 1rem;
    overflow-y: auto;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

nav#sidebar ul {
    list-style: none;
    padding: 0;
}

nav#sidebar li {
    margin-bottom: 0.5rem;
}

nav#sidebar a {
    text-decoration: none;
    color: var(--primary);
}

nav#sidebar a:hover {
    color: var(--accent);
}

main#content {
    padding: 2rem;
    background: var(--background);
    overflow-y: auto;
    box-sizing: border-box;
}

aside#toc {
    background: var(--background)
}

#toc h3 {
    margin-top: 0;
    font-size: 1.1em;
    color: #333;
}

#toc-list {
    list-style: none;
    padding: 0;
    font-size: 0.95em;
}

#toc-list li {
    margin: 0.3em 0;
}

#toc-list a {
    text-decoration: none;
    color: var(--primary);
}

#toc-list a:hover {
    color: var(--accent);
}